.my-price-sf {
  display: flex;
  align-items: center;
  justify-content: space-between;

  user-select: none;

  .discount {
    color: var(--my-color-primary-sf);

    padding-inline-end: 0.5rem;
  }

  .crossed {
    text-decoration: line-through;
  }

  .value {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .number {
    font-weight: 500;
    font-size: var(--my-fz-600-sf);
  }

  .currency {
    font-size: var(--my-fz-200-sf);
    line-height: 110%;
  }
}
